/*------formatting-------*/
html{
  overflow-x: hidden;
  width: 100%;
}
*{
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  list-style: none;
  text-decoration: none;
}

/*------Topnav-------*/
.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4, 9, 30, 0.7)), url('../images/songbirds_and_snakes_banner.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
}
nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
.topnav{
  flex: 1;
  text-align:right;
}

.SuzanneCollins{
  text-align: left;
}
.SuzanneCollins a{
  font-family: 'Caveat', cursive;
  color: white;
  text-decoration: none;
  font-size: 30px;
}

.topnav ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.topnav ul li a{
  color:white;
  text-decoration: none;
  font-size: 15px;
}

.topnav ul li a.active{
  color: orange;
}

.topnav ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: orange;
  display: block;
  margin: auto;
}
.topnav ul li:hover::after{
  width: 100%;
  transition: 0.5s;
}
/*------Text inside Image Background-------*/
.theatres{
  width: 90%;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.theatres h1{
  font-size: 60px;
}
.theatres h2{
  font-size: 50px;
}
.theatres p{
  font-size: 40px;
  margin: 10px 0 40px;
}
/*------Youtube Button Formatting-------*/
.tr-btn{
  display:inline-block;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px 30px;
  font-size: 15px;
  background:transparent;
  position: relative;
  cursor: pointer;
}
.tr-btn:hover{
  border: 1px solid orange;
  background: orange;
  transition: 1s;
}
nav .fa{
  display: none;
}
/*------Responsive Navigation and formatting-------*/
@media(max-width: 700px){
  body{
      overflow-x: hidden;
  }
  .theatres h1{
      font-size: 25px;
  }
  .theatres h2{
      font-size: 20px;
  }
  .theatres p{
      font-size: 15px;
  }
  .topnav ul li{
      display: block;
  }
  .topnav{
      position: absolute;
      background: black;
      height: 100vh;
      width: 100%;;
      top: 0;
      right: -700px;
      text-align: left;
      z-index: 2;
      transition: 1s;
  }

  nav .fa{
      display: block;
      color: white;
      margin: 10px;
      font-size: 22px;
      cursor: pointer;
  }
  .topnav ul{
      padding: 30px;
  }
}

/*------Row Flex-------*/
.row{
  margin-top: 5%;
  display: flex;
  justify-content:space-between;
}

@media(max-width: 700px){
  .row{
      flex-direction: column;
  }
}
/*------welcome message-------*/
.welcoming{
  flex-basis: 44%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  background: #fff3f3;
  padding: 25px;
  cursor: pointer;
  display: flex;
}

.welcoming p{
  padding: 0;
}

.welcoming img{
  height: 400px;
  max-width: 100%;
}
@media(max-width: 700px){
  .welcoming img{
  margin-left: 0px;
  margin-right: 15px;
  }
}
.welcome{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top:100px;
}
.welcome h1{
  font-size: 45px;
  font-weight: 600;
}

.welcome p{
  color: black;
  font-size: 20px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

/*-------works-----*/

.works{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.works a:link{
  text-decoration: none;
  color:black;
}

.works a:hover{
  color:lightcoral
}

.books{
  flex-basis:32%;
  border-radius: 10px;
  margin-bottom: 5%;
  position: relative;
  overflow: hidden;
}

.books img{
  height:400px;
  width:100%;
  display:block;
  border-radius: 10px;
}

.books img{
  margin: 0 auto;
}

.books:hover img{
  transform:scale(0.90);
}

.category-name{
  background: transparent;
  height: 400px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;   
  transition: 0.5s;
}

.category-name h3{
  width: 100%;
  font-weight: 500;
  color: white;
  opacity:0;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  transition: 0.5s;
}

.category-name:hover h3{
  bottom: 49%;
  opacity: 1;
}

/*--------Hunger Games Trilogy-------*/

.hunger_games_trilogy{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top:100px;
}
.hunger_games{
  flex-basis:31%;
  border-radius: 10px;
  margin-bottom:5%;
  text-align: center;
}
.hunger_games img{
  height: 400px;
  width:100%;
  border-radius: 10px;
}

.hunger_games p{
  padding: 0;
}

.hunger_games h3{
  margin-top:16px;
  margin-bottom:15px;
  text-align:center;
}

/*----- call to action ------*/

.contact{
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4, 9, 30, 0.7)),url(../images/hungergamesbanner.png);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding:100px 0;
}

.contact h1{
  color:white;
  margin-bottom: 50px;
  padding: 0;
}

.contact-btn{
  display:inline-block;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px 30px;
  font-size: 15px;
  background:transparent;
  position: relative;
  cursor: pointer;
}
.contact-btn:hover{
  border: 1px solid coral;
  background: lightcoral;
  transition: 1s;
}

@media(max-width: 700px){
  .contact h1{
      font-size: 20px; 
  }
}

/*--------Footer-------*/
.footer{
  margin-top:150px;
  width: 70%;
  padding: 100px 15%;
  background: #333;
  color: #efefef;
  display: flex;
  justify-content: space-between;
}

.footer div{
  text-align: center;
}

h3{
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

footer div h3{
  font-weight:300;
  margin-bottom: 30px;
  letter-spacing: 1px;
  margin-top: 20px;
}
.footercol-1 a{
  display: block;
  text-decoration: none;
  color:#efefef
}

.footercol-3 a{
  display: block;
  text-decoration: none;
  color:#efefef
}

form input{
  width: 100%;
  height: 45px;
  border-radius: 4px;
  text-align: center;
  margin-top: 10px;
  margin-bottom:20px;
  outline: none;
  border: none;
}

form button{
  color: white;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 30px;
  padding: 5px 20px;
  font-size: 15px;
  cursor: pointer;
}

@media (max-width: 700px) {
  .footer {
      flex-direction: column;
      align-items: center;
      padding: 50px 20%; 
  }

  form input {
      width: 100%;
      margin-right: 0;
  }
}

/*About Page*/
/*--------Biography-------*/

.sub-header{
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(../images/centralparkbanner.png);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
}

.sub-header h1{
  margin-top: 100px;
  font-family: 'Caveat', cursive;
  font-size: 60px;
}


.about-sc{
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 10px;

}

.about-sc h3{
  font-family: 'Caveat', cursive;
  font-size: 40px;
}


.about-content{
  flex-basis: 48%;
  padding: 30px 2px;
}

.about-content img{
  width: 100%;
}

.about-content h1{
  padding-top: 0;
}

.about-content p{
  font-size: 24px;
  padding: 15px 0 25px;
}

@media(max-width: 700px){
  .about-content p{
    font-size: 16px;
  }
  .about-content img{
    width: 75%;
    height: 50%;
  }
}

/*----Accompishments----*/


.awards h3{
  font-size: 40px;
  color: orange;
}

.accomplishments {
  list-style: none;
  padding: 0;
}

.accomplishments li {
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

@media (max-width: 700px) {
  .awards h3{
    font-size: 25px;
  }
  .accomplishments li {
    padding: 20px;
    font-size: 15px;
    padding: 5px;
  }
}

.accomplishments a {
  text-decoration: none;
  color: inherit;
}

.awards-banner {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

/*Interview Page*/
/*----Interview Questions----*/
.questions {
  color: #FFA500;
  font-weight: bold;
}

.questioning p{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 15px;
  font-size: 20px;
}

@media (max-width: 700px){
  .questioning p{
    font-size: 14px;
  }
}


/*News Page*/
.news-header{
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(../images/news-board.jpeg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
}

.news-header h1{
  margin-top: 100px;
  font-family: 'Caveat', cursive;
  font-size: 60px;
}
/*----contact-us----*/
.contact-us {
  width: 80%;
  margin: auto;
  text-align: center;
}

.contact-col {
  flex-basis: 48%;
  margin-bottom: 30px;
}

.contact-col div {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.contact-col div .fa {
  font-size: 28px;
  color: #f44336;
  margin: 10px;
  margin-right: 30px;
}

.contact-col div p {
  padding: 0;
}

.contact-col div h5 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #555;
  font-weight: 400;
}

.contact-col input, .contact-col a {
  width: 100%;
  padding: 15px;
  margin-bottom: 17px;
  outline: none;
  border: 1px solid #ccc;
}

.contacting-btn{
  display:inline-block;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 30px;
  font-size: 15px;
  background:transparent;
  position: relative;
  cursor: pointer;
}

.contacting-btn:hover{
  border: 1px solid orange;
  background: orange;
  transition: 1s;
}

/*----Works----*/
.works-header{
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(../images/booksbanner.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
}

.works-header h1{
  margin-top: 100px;
  font-family: 'Caveat', cursive;
  font-size: 60px;
}


/*shop*/

.container{
  max-width: 1068px;
  margin: auto;
  width: 100%;
}
.shop-works{
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
  text-decoration: none;
}

.shopheader{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.logo{
  font-size: 1.1rem;
  color: orange;
  font-weight: 400;
}

#cart-icon{
  font-size: 1.8rem;
  cursor: pointer;
}

/*Cart*/
.cart{
  margin-top: 20px;
  position:relative;
  width: 100%;
  min-height: 20vh;
  padding: 20px;
  background: white;
  box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
}

.cart h2{
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin-top: 2rem;
}
.section-title{
  font-size: 35px;
  font-weight:600;
  text-align: center;
  margin-bottom: 1.5rem;
}

.shop{
  margin-top: 2rem;
}

.shop-content{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(220px, auto));
  gap: 5rem;
}

.shop-container{
  box-sizing: border-box;
}

.product-box{
  position:relative;
}

.product-box:hover{
  padding: 10px;
  border: 1px solid black;
  transition: 0.4s;
}

.product-img{
  width: 100%;
  height:auto;
  margin-bottom: 0.5rem;
}

.book-title{
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.price{
  font-weight: 500;
}

.cart-position{
  position: absolute;
  bottom: 0;
  right: 0;
  background: black;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.cart-position:hover{
  background: hsl(249, 32%, 17%);
}

.cart img{
  width: 150px;
  height: 150px;
  object-fit: contain;
  padding: 10px;
}

.detail-box{
  display:grid;
  row-gap:0.5rem;
}

.cart-product-title{
  font-size: 2rem;
  text-transform: uppercase;
}

.cart-price{
  font-weight: 500;
  font-size: 20px;
}

.cart-quantity{
  border: 3px solid black;
  outline-color:black;
  width: 40px;
  text-align: center;
  font-size: 1rem;
}

.cart-remove{
  font-size: 30px;
  color: red;
  cursor: pointer;
}

.total{
  font-size: 20px;
  justify-content: flex-end;
  margin-top: 1.5rem;
  border-top: 1px solid black;
}
.total-title{
  font-size: 1rem;
  font-weight: 600;
}

.total-price{
  margin-left: 0.5rem;
}

.btn-buy{
  display: flex;
  margin: 1.5rem auto 0 auto;
  padding: 12px 20px;
  border: none;
  background: lightcoral;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
}

.btn-buy:hover{
  background: black;
}

.cart-box{
  display: grid; 
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.cart-link{
  text-decoration: none;
  color: red;
}

/*Hunger Games Page*/

.hunger-header{
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(../images/hungergamesmoviebanner.webp);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
}

.hunger-header h1{
  margin-top: 100px;
  font-family: 'Caveat', cursive;
  font-size: 60px;
}

/*Reviews*/
.reviews{
  width: 80%;
  margin: auto;
  padding-top: 100px;
  text-align: center;
}
.reviewing{
  flex-basis: 44%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  background: #fff3f3;
  padding: 25px;
  cursor: pointer;
  display: flex;
}
.reviewing img{
  height: 40px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
}
.reviewing p{
  padding: 0;
}
.reviewing h3{
  margin-top: 15px;
  text-align: left;
}
.reviewing .fa{
  color: #f44336;
}
@media(max-width: 700px){
  .reviewing img{
  margin-left: 0px;
  margin-right: 15px;

  }
}

/*links to purchase*/
.links-to-purchase {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center; 
}

.links-to-purchase h3 {
  font-size: 1.5em;
}

.links-to-purchase ul {
  list-style-type: none;
  padding: 0;
  display: flex; 
  justify-content: space-between; 
  flex-wrap: wrap; 
}

.links-to-purchase li {
  margin-bottom: 10px;
}

.links-to-purchase a {
  text-decoration: none;
  color: #3498db;
  font-weight: bold;
  display: block; 
}

.links-to-purchase img {
  max-width: 100%;
  height: 150px;
  margin: 0 auto; 
}

@media screen and (max-width: 700px) {
  .links-to-purchase {
    padding: 10px;
  }

  .links-to-purchase h3 {
    font-size: 1.2em;
  }

  .links-to-purchase ul {
    flex-direction: column; 
    align-items: center; 
  }
}

